.codio-assessment {
    padding: 12px 40px 12px 65px;
    margin: 5px;
    font-size: 0.9em;
    color: #484040;
    background-color: #f5f9f5;
    border-radius: 4px;
    box-shadow: 2px 2px 4px #DDD;
    font-family: 'Nunito Sans', sans-serif;
}

.codio-assessment-name {
    font-size: 1.2em;
    font-style: normal;
    margin-bottom: 0;
    margin-top: 0;
    border: none;
    padding-bottom: 0;
}

.codio-assessment-button {
    display: inline-block;
    padding: 3px 17px 1px;
    font-size: 75%;
    cursor: pointer;
    background: #386fd7;
    border-radius: 2px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #386fd7;
}

.codio-assessment-button:disabled {
    cursor: default;
    opacity: 0.8;
}

.codio-assessment-guidance-container {
    padding: 0.5em;
    margin-bottom: 1em;
    background-color: #e4efe4;
    border: 1px #d6ded6 solid;
    border-radius: 3px;
}

.codio-assessment-guidance-text {
    font-size: 0.9em;
}
